#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  /*text-align: center;*/
}

.card {
  padding: 2em;
}

.settings-item {
  text-align: left;
}

.settings-item-actions {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

